
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=v@7-_#zv1g&yky8_-1hcnmxr^_m91gbo7vys#6mu*avsn1^6f6
DJANGO_ALLOWED_HOSTS=.snabb.io

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=

SENDGRID_API_KEY=YOUR_SENDGRID_API_KEY
DJANGO_EMAIL_BACKEND=sgbackend.SendGridBackend
DJANGO_CORS_ORIGIN_ALLOW_ALL=True
FRONTEND_URL=http://localhost:3000
MAPS_API_KEY=YOR_GOOGLE_MAPS_API_KEY
MAPS_API_PROVIDER=GOOGLE
ONFLEET_API_KEY=YOUR_API_KEY
ONFLEET_API_ROOT=https://onfleet.com/api/v2/
