{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>Snabb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="shortcut icon" href="../static/vendor/startup/flat-ui/images/favicon.ico">
    <link rel="stylesheet" href="../static/vendor/startup/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/vendor/startup/flat-ui/css/flat-ui.css">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="../static/vendor/startup/common-files/css/icon-font.css">
    <!-- end -->
    <link rel="stylesheet" href="../static/vendor/startup/common-files/css/animations.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

{#{% if messages %}#}
{#    {% for message in messages %}#}
{#        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>#}
{#    {% endfor %}#}
{#{% endif %}#}
{#<form action="/i18n/setlang/" method="post" style="display: none" id="change_language_form">#}
{#    {% csrf_token %}#}
{#    <input type="hidden" value="" name="language" id="language"/>#}
{#</form>#}


{% block content %}
{% endblock content %}

<!-- footer-6 -->
<footer class="footer-6">
    {% block footer %}
        <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <a class="brand" href="#">Startup</a>
                        </div>
                    </div>
                    <nav>
                        <div class="col-sm-2">
                            <h6>About</h6>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Career</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h6>Work</h6>
                            <ul>
                                <li>
                                    <a href="#">Our Portfolio</a>
                                </li>
                                <li>
                                    <a href="#">Latest Work</a>
                                </li>
                                <li>
                                    <a href="#">Brands</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h6>Stuff</h6>
                            <ul>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Advertise</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col-sm-3">
                        <h6>Subscribe</h6>

                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn" type="button">
                                    <span class="fui-arrow-right"> </span>
                                </button>
                            </span>
                        </div>
                        <div class="social-btns">
                            <a href="#" ><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
                            <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
                            <a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}
</footer>

{#<div style="background-color: #2a2a2a;">#}
{#    <div class="container" style="margin-right: 2rem;">#}
{#        <div class="row text-right">#}
{#            {% get_language_info_list for LANGUAGES as languages %}#}
{#            {% get_current_language as LANGUAGE_CODE %}#}
{#            {% for lang in languages %}#}
{#                {% if lang.code == LANGUAGE_CODE %}#}
{#                    <a style="padding-left: 0rem;background-color: #2a2a2a;"#}
{#                       class="btn btn-prepend">{{ lang.name_translated }}</a>#}
{#                {% else %}#}
{#                    <a style="padding-left: 0rem;background-color: #2a2a2a; color: #337ab7;" class="btn btn-prepend"#}
{#                       href="/{{ lang.code }}">{{ lang.name_translated }}</a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

    <script src="../static/vendor/startup/common-files/js/jquery-1.10.2.min.js"></script>
    <script src="../static/vendor/startup/flat-ui/js/bootstrap.min.js"></script>
    <script src="../static/vendor/startup/common-files/js/modernizr.custom.js"></script>
    <script src="../static/vendor/startup/common-files/js/page-transitions.js"></script>
    <script src="../static/vendor/startup/common-files/js/easing.min.js"></script>
    <script src="../static/vendor/startup/common-files/js/jquery.svg.js"></script>
    <script src="../static/vendor/startup/common-files/js/jquery.svganim.js"></script>
    <script src="../static/vendor/startup/common-files/js/startup-kit.js"></script>
    <script src="../static/js/script.js"></script>


{% endblock javascript %}
</body>
</html>

