{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <div class="page-wrapper">

        <!-- header-2  -->
        <header class="header-2">
            <div class="container">
                <div class="row">
                    <nav class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#">Snabb</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav pull-right">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <section class="header-2-sub bg-midnight-blue">
            <div class="background">&nbsp;</div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="hero-unit">
                            <h1>Welcome to the On-Demand Revolution</h1>
                        </div>
                        <div class="btns">
                            <a class="btn btn-primary" href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- content-26  -->
        <section class="content-26 bg-clouds">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3>The most sophisticated On-Demand delivery platform for business</h3>
                        <p class="lead">We are creating a product that will completely change the way your products
                            move inside a city.</p>
                    </div>
                </div>
                <div class="row features">
                    <div class="col-sm-3">
                        <img src="../../static/vendor/startup/common-files/icons/retina-ready-s@2x.png" alt="" width="100"
                             height="100">
                        <h6>Deliver With Confidence</h6>
                        We make sure couriers are friendly and professional.
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <img src="../../static/vendor/startup/common-files/icons/clock@2x.png" alt="" width="100"
                             height="100">
                        <h6>Super Fast. Less Than An Hour.</h6>
                        Your customer won't believe how quick they can get your products.
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <img src="../../static/vendor/startup/common-files/icons/Map@2x.png" alt="" width="100" height="100">
                        <h6>Real-Time Tracking</h6>
                        Never wonder again where your package might be. Track the deliveries at all time!
                    </div>
                </div>
            </div>
        </section>

        <!-- content-24  -->
        <section class="content-24 bg-midnight-blue">
            <img class="image" src="../../static/img/delivery-graph.png" alt="">
{#            <img class="image" src="../../static/vendor/startup/common-files/img/content/graph.png" alt="">#}
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <div class="features features-clear">
                            <div class="features-header">
                                <div class="box active">
                                    <div class="fui-cmd"></div>
                                </div>
                            </div>
                            <div class="features-bodies">
                                <div class="features-body active">
                                    <h3>Feel in Control</h3>
                                    <p>Get detailed analytics of all your deliveries to make sure you always remain in control
                                        of what it is happening in your business.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- content-9  -->
        <section class="content-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>For SME</h3>
                        <p>If you don't require pre-integrations with our systems we have a solution for you. You will be
                            able to use our applications with zero overhead.
                        </p>
                        <div class="row">
                            <div class="col-sm-6 info">
                                <h6>Zero Configuration</h6>
                                Sign up with us and start delivering your products straight away.
                            </div>
                            <div class="col-sm-6 info">
                                <h6>Pay as you go</h6>
                                No payments upfront are required. Download, request and pay. It's that simple.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 hidden-xs">
                        <img src="../../static/vendor/startup/common-files/icons/browser-iphone@2x.png" width="300"
                             height="300" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- footer-12  -->
        <footer class="footer-12">
            <div class="container">
                Made with <span class="fui-heart"> </span> in Stockholm
            </div>
        </footer>
    </div>
{% endblock %}
